body,
html {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: white;
    font-family: sans;
    font-weight: bold;
    overflow: hidden;
}

#header {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#title {
    font-size: 3rem;
}

#controlsWrapper {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#controlsWrapper button {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
    font-size: 2rem;
    background: white;
    user-select: none;
}
